#category {
  @include pc-layout {
  margin-top: 26+75px;
}
  .page {
    padding: 16px 0;
    overflow: hidden;
    @include card-page;
  }

  .content {
    display: grid;
    grid-column-gap: 16px;
    padding: 16px 16px 0;

    @include pc-layout {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include sp-layout {
      grid-template-columns: 1fr;
    }
    
    li {
      box-sizing: border-box;
      list-style: none;
      position: relative;
      margin-bottom: 16px;
      padding: 20px;
      height: 140px;
      @include card-light;
      overflow: hidden;
      color: #fff;
      border-radius: 10px;
      text-align: justify;
      text-shadow: 0 0 1px $bg-dark-deep;
      &:nth-child(1)
      {
        background: linear-gradient(to right,#15c6ff,#358bff);
      }
      &:nth-child(2){
        background: linear-gradient(to right,#ffbf37,#f65);
      }
      &:nth-child(3){
        background: linear-gradient(to right,#1eebeb,#18e7ae);
      }
      &:nth-child(4){
        background: linear-gradient(to right,#35ff5d,#8aff15);
      }
      &:nth-child(5){
        background: linear-gradient(to right,#ffff35,#ffe415);
      }
      &:nth-child(6){
        background: linear-gradient(to right,#358bff,#15c6ff);
      }
      @include pc-layout {
        &:hover {
          .decorate {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
}
        }
      }
      .title {
        font-family: "MiSans Bold";
        font-size: 32px;
      }
      .num {
        font-size: 16px;
      }
      .summary {
        display: block;
        font-family: "MiSans Regular";
        font-size: 22px;
      }
      .decorate {
        position: absolute;
        font-size: 120px;
        right: 20px;
        bottom: -60px;
        opacity: .4;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
      }
    }
  }

  .clean {
    padding-left: 22px;
    text-align: left;

    .clean-btn {
      margin-left: 12px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: $primary-bg;
      transition: background 0.3s ease-out;
      color: $primary;

      &:hover {
        color: aliceblue;
        background-color: $primary-translucent;
      }
    }
  }
}
