@font-face {
  font-family: 'Fontello';
  src: url('./fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ethefont"; /* Project id 3239940 */
  src: url('./etherealfont.woff2') format('woff2'),
      url('./etherealfont.woff') format('woff'),
      url('./etherealfont.ttf') format('truetype');
      // url('//cdn.wallleap.cn/ethereal/etherealfont.woff2') format('woff2'),
      // url('//cdn.wallleap.cn/ethereal/etherealfont.woff') format('woff'),
      // url('//cdn.wallleap.cn/ethereal/etherealfont.ttf') format('truetype');
}

.ethefont {
  font-family: "ethefont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon-Two-tone-Activity:before {
  content: "\e601";
}

.icon-tags:before {
  content: "\e602";
}

.icon-category:before {
  content: "\e604";
}

.icon-inspire:before {
  content: "\e605";
}

.icon-edit:before {
  content: "\e606";
}

.icon-archives:before {
  content: "\e607";
}

.icon-home:before {
  content: "\e608";
}

.icon-about:before {
  content: "\e60a";
}

.icon-books:before {
  content: "\e60b";
}

.icon-friends:before {
  content: "\e60d";
}

.icon-bianji1:before {
  content: "\e724";
}

.icon-ditu:before {
  content: "\e727";
}

.icon-dengdai:before {
  content: "\e728";
}

.icon-faxian:before {
  content: "\e729";
}

.icon-dianzan:before {
  content: "\e72a";
}

.icon-dingwei:before {
  content: "\e72b";
}

.icon-gantanhao:before {
  content: "\e72c";
}

.icon-huodong:before {
  content: "\e72d";
}

.icon-gengduo:before {
  content: "\e72e";
}

.icon-kaiqishipin:before {
  content: "\e72f";
}

.icon-jiesuo:before {
  content: "\e730";
}

.icon-liaotian:before {
  content: "\e731";
}

.icon-lajitong:before {
  content: "\e732";
}

.icon-guanbishipin:before {
  content: "\e733";
}

.icon-shangdian:before {
  content: "\e734";
}

.icon-suoding:before {
  content: "\e735";
}

.icon-rili:before {
  content: "\e736";
}

.icon-shoucang:before {
  content: "\e737";
}

.icon-paizhao:before {
  content: "\e738";
}

.icon-tongzhi:before {
  content: "\e739";
}

.icon-tupian:before {
  content: "\e73a";
}

.icon-wengao:before {
  content: "\e73b";
}

.icon-shezhi:before {
  content: "\e73c";
}

.icon-tianjia:before {
  content: "\e73d";
}

.icon-wode:before {
  content: "\e73e";
}

.icon-wenhao:before {
  content: "\e73f";
}

.icon-wenjianjia:before {
  content: "\e740";
}

.icon-xianshi:before {
  content: "\e741";
}

.icon-xiaoxi:before {
  content: "\e742";
}

.icon-youjiantou:before {
  content: "\e743";
}

.icon-yinhangka:before {
  content: "\e744";
}

.icon-youhuiquan:before {
  content: "\e745";
}

.icon-youjian:before {
  content: "\e746";
}

.icon-yincang:before {
  content: "\e747";
}

.icon-zhekou:before {
  content: "\e748";
}

.icon-lingganxuqiu:before {
  content: "\e698";
}

.icon-huore:before {
  content: "\f075";
}

.icon-lipin:before {
  content: "\fc26";
}

.icon-shijian:before {
  content: "\fc5e";
}

.icon-bianji:before {
  content: "\e766";
}

.icon-friendaddfill:before {
  content: "\e6c9";
}

.icon-daima:before {
  content: "\e631";
}

.icon-xiezi:before {
  content: "\e6ba";
}

.icon-caogaoxiang:before {
  content: "\e722";
}

.icon-biaoqian:before {
  content: "\e723";
}

.icon-shaixuan:before {
  content: "\e725";
}

.icon-shouye:before {
  content: "\e726";
}

.icon-homefill:before {
  content: "\e6bb";
}

.icon-archive:before {
  content: "\e615";
}

.icon-fenlei1:before {
  content: "\e670";
}

.icon-pengyou:before {
  content: "\e63d";
}

.icon-linggan:before {
  content: "\e874";
}

.icon-leaf:before {
  content: "\e600";
}

.icon-book:before {
  content: "\e7c7";
}

.icon-tag:before {
  content: "\eba9";
}



.icon::before{
  font-family: 'Fontello';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.icon-heart:before {
  content: '\e800';
}
.icon.icon-fire:before {
  content: '\e801';
}
.icon.icon-graduation-cap:before {
  content: '\e802';
}
.icon.icon-calendar:before {
  content: '\e803';
}
.icon.icon-t-shirt:before {
  content: '\e804';
}
.icon.icon-emo-devil:before {
  content: '\e805';
}
.icon.icon-tag:before {
  content: '\e806';
}
.icon.icon-shop:before {
  content: '\e807';
}
.icon.icon-gift:before {
  content: '\e808';
}
.icon.icon-link:before {
  content: '\e809';
}
.icon.icon-comment:before {
  content: '\e80a';
}
.icon.icon-star:before {
  content: '\e80b';
}
.icon.icon-pencil:before {
  content: '\e80c';
}
.icon.icon-pilcrow:before {
  content: '\e80d';
}
.icon.icon-inbox:before {
  content: '\e80e';
}
.icon.icon-universal-access:before {
  content: '\e80f';
}
.icon.icon-cancel-outline:before {
  content: '\e810';
}
.icon.icon-camera:before {
  content: '\e811';
}
.icon.icon-clipboard:before {
  content: '\e812';
}
.icon.icon-left-open-outline:before {
  content: '\e813';
}
.icon.icon-right-open-outline:before {
  content: '\e814';
}
.icon.icon-bookmark-empty:before {
  content: '\f097';
}
.icon.icon-quote-left:before {
  content: '\f10d';
}
.icon.icon-quote-right:before {
  content: '\f10e';
}
.icon.icon-pagelines:before {
  content: '\f18c';
}
.icon.icon-venus-double:before {
  content: '\f226';
}
.icon.icon-tripadvisor:before {
  content: '\f262';
}
.icon.icon-fort-awesome:before {
  content: '\f286';
}
