.archive {
  .totalCount {
    margin: 10px 16px;
    padding: 20px 0;
    text-align: center;
    color: $primary;
    background: $primary-bg;
    border-left: 3px solid $primary;
    border-radius: 0 10px 10px 0;
    .count {
      font-weight: $font-weight-bold;
      margin: 0 .5em;
      color: $primary-deep;
    }
    .add-box {
      display: inline-block;
      margin-top: 5px;
      padding: 2px 8px;
      border: 1px solid $primary;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &:hover
      {
        background: $primary;
        color: whitesmoke;
      }
    }
  }
  ul {
    margin: 36px 16px;

    li {
      position: relative;
      list-style: none;
      height: 38px;
      margin-bottom: 32px;

      &::before {
        content: '';
        position: absolute;
        top: -26px;
        left: 130px;
        width: 3px;
        height: 70px;
        background-color: $primary;
      }

      &::after {
        content: '';
        position: absolute;
        top: 8px;
        left: 120px;
        width: 14px;
        height: 14px;
        border: 4px solid white;
        border-radius: 50%;
        background-color: $primary;
        z-index: $zindex-2;
      }

      .creat-time {
        display: inline-block;
        width: 106px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        border-radius: 8px;
        font-weight: $font-weight-bold;
        background-color: $primary;
        color: $whitesmoke;
      }

      .title-info {
        position: absolute;
        top: 7px;
        left: 150px;

        &:hover {
          h3 {
            color: $secondary;
          }
        }

        h3 {
          font-size: $font-size-large;
          font-weight: $font-weight-normal;
          margin-right: 10px;
          line-height: 20px;
          .post-hot {
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  }

  .btn-group {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }
  .archive-end {
    font-size: 14px;
    color: #5d3523;
    text-align: center;
    margin-bottom: 20px;
  }
}
