#friend {
  @include pc-layout {
    margin-top: 26+75px;
  }
  .page {
    padding-top: 16px;
    @include card-page;
  }

  .me {
    display: flex;
    flex-direction: column;
    line-height: $line-height-block;

    @include pc-layout {
      margin: 0 32px 10px;
    }
    @include sp-layout {
      margin: 0 16px 6px;
      span {
        span.avatar {
          display: block;
          margin-top: -5px;
          overflow-x: auto;
        }
      }
    }

    span:first-child {
      margin-bottom: 6px;
    }

    span:last-child {
      margin-top: 6px;
    }

    a {
      @include link;
    }
  }

  .content {
    padding: 16px;
    align-items: center;

    li {
      list-style: none;
      display: inline-block;
      margin-bottom: 16px;
      margin-right: 16px;
      height: 86px;
      box-sizing: border-box;
      min-width: 222px;
      @include pc-layout {
        width: calc(100% / 3 - 11px);
        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @include sp-layout {
        width: 100%;
        height: 92px;
      }

      a.info {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: 12px;
        display: block;
        padding: 10px 16px;
        overflow: hidden;
        background-color: var(--card-bg);
        transition: $transition-base;
        box-shadow: $card-shadow-light;

        img {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          border-radius: 50%;
          border: 1px solid var(--second-text-color);
          z-index: $zindex-1;
          width: 54px;
          height: 54px;
          opacity: 1;
          transition: all .2s;
        }

        .name, .desc {
          display: block;
          margin-left: 70px;
          width: calc(100% - 70px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transform: translateX(0);
          transition: all .4s;
        }

        .name {
          font-family: "MiSans Bold";
          font-size: 16px;
          margin-top: 12px;
        }

        .desc {
          font-family: "MiSans Medium";
          font-size: 14px;
          color: var(--second-text-color);
          transition-delay: .08s;
        }

        &:hover {
          box-shadow: $card-shadow-light-hover;
          .name {
            color: $link-color;
          }
          .name, .desc {
            transform: translateX(-70px);
            width: 100%;
          }
          img {
            opacity: 0;
            transform: translate(-70px, -50%);
          }
        }
      }
    }
  }

  .befriend {
    padding: 0 16px 20px;
    p {
      margin: .2em 0 .2em 0;
      a {
        @include link;
      }
    }
    .markdown {
      pre {
        margin: 0;
      }
    }
  }
}
