.banner {
  @include sp-layout {
    position: absolute;
    top: 0;
  }
  .site-show {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 300px;
    margin-top: 75px;
    @include sp-layout {
      margin-top: 0;
      height: 280px;
    }
    .bg1 {
      position: absolute;
      top: 18px;
      left: 50%;
      transform: translate(-490px, 0);
      width: 324px;
      height: 268px;
      background: url(https://cdn.jsdelivr.net/gh/wallleap/cdn@latest/assets/img/dotted.png) no-repeat center;
      transition: all .5s;
      @include sp-layout() {
        width: 80px;
        height: 60px;
        background-size:80px 60px;
        top: 50%;
        transform: translate(-190px, -50px);
      }
    }
    .bg2 {
      position: absolute;
      top: -16px;
      left: 50%;
      width: 422px;
      height: 301px;
      transform: translate(150px, 0);
      background: url(https://cdn.jsdelivr.net/gh/wallleap/cdn@latest/assets/img/quote.png) no-repeat center;
      transition: all .5s;
      @include sp-layout() {
        width: 80px;
        height: 60px;
        background-size:80px 60px;
        top: 50%;
        transform: translate(120px, -40px);
      }
    }
    .site-show-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 30px;
      h2.shici-title {
        font-size: 22px;
        color: $primary;
        text-align: center;
      }
      .shici {
        text-align: center;
        color: var(--second-text-color)
      }
    }
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      z-index: $zindex-2;
      width: 100vw;
      height: 100vh;
    }
    .site-search {
      z-index: $zindex-3;
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      .search-box {
        position: relative;
        height: 58px;
        .search {
          box-sizing: border-box;
          outline: none;
          border: none;
          width: 360px;
          height: 58px;
          padding: 15px 20px;
          border-radius: 15px;
          background-color: var(--input-bg);
          color: $secondary;
          caret-color: $secondary;
          font-size: 16px;
          &:focus {
            box-shadow: $card-shadow-light;
          }
        }
        .search::placeholder {
          font-size: 14px;
          color: #BCC1CC;
        }
        .search-btn {
          position: absolute;
          right: 10px;
          bottom: 50%;
          transform: translateY(50%);
          width: 60px;
          height: 40px;
          line-height: 40px;
          color: whitesmoke;
          font-size: 14px;
          letter-spacing: .2em;
          font-weight: $font-weight-bold;
          background-color: $primary;
          text-align: center;
          border-radius: 10px;
        }
      }
      .search-res {
        display: none;
        opacity: 0;
        position: absolute;
        background-color: var(--card-bg);
        padding: 10px 20px;
        border-radius: 10px;
        top: 70px;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: opacity 1s ease;
        @include scrollBar;
        @include pc-layout {
          width: 876px;
          max-height: 560px;
        }
        @include sp-layout {
          width: 94%;
          max-height: 600px;
        }
        .container {
          z-index: $zindex-3;
        }
      }
    }
  }
}