#tag {
  @include pc-layout {
    margin-top: 26+75px;
  }
  .page {
    padding: 16px 0;
    overflow: hidden;
    @include card-page;
  }

  .content {
    padding: 16px;
    text-align: center;

    li {
      display: inline-block;
      list-style: none;
      @include pc-layout {
        margin: 14px 6px;
      }
      @include sp-layout {
        margin: 12px 6px;
      }

      span {
        padding: 8px 14px;
        border-radius: 5px;
        color: black;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .12);
        transition: all .5s ease;

        &:hover {
          background: linear-gradient(135deg, $primary-bg, $primary) !important;
        }
      }
    }
  }

  .clean {
    padding-left: 22px;
    text-align: left;

    .clean-btn {
      margin-left: 12px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: $primary-bg;
      transition: background 0.3s ease-out;
      color: $primary;

      &:hover {
        color: aliceblue;
        background-color: $primary-translucent;
      }
    }
  }
}
